---
- name: Deploy OpenShift Online Analytics
  hosts: masters
  remote_user: root
  run_once: true
  tasks:
  - include_vars:
      dir: 'vars'
      extensions:
      - yml

  - include_role:
      name: oso_analytics
    vars:
      osoan_woopra_enabled: "{{ online_analytics_woopra_enabled }}"
      osoan_local_endpoint_enabled: "{{ online_analytics_local_endpoint_enabled }}"
      osoan_user_key_strategy: uid
      osoan_log_level: "{{ online_analytics_log_level }}"
